@media screen and (min-width: 690px) {
  .modal {
    ul.profileInformation{
      float: right;
      margin-right: 40px;
      width: auto;
    }
    .profilePicture {
      float: left;
      margin-left: 40px;
    }
  }
}
